/*Al div le voy a poner las clase caja y las 
reglas correctas*/
.caja {
	width: 656px;
	height: 379px;
	padding: 32px 32px 32px 32px solid #fbff00;
	border: 16px solid #ff8000;
	margin: 10px solid #f00;

}